<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.phonegap.example"
        versionCode = "10"
        version     = "1.0.0" >

  <!-- versionCode is optional and Android only -->

  <name>CTA Conf</name>

  <description>
    Call to Action Conference
  </description>

  <author href="http://github.com/mattcoady" email="mattcoady@gmail.com">
    Matt Coady
  </author>

  <gap:platform name="ios" />
  <gap:plugin name="com.phonegap.plugin.statusbar" />
  <gap:plugin name="com.phonegap.plugin.statusbar" version="1.0.1" />
  <gap:config-file platform="ios" parent="UIStatusBarHidden">
    <true/>
  </gap:config-file>

  <gap:config-file platform="ios" parent="UIViewControllerBasedStatusBarAppearance">
    <false/>
  </gap:config-file>

</widget>