<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id = "it.venerons.APPLICATION"
        version = "1.0.0"
        versionCode = "1">

  <name>CTA</name>

  <description>
    CTA App
  </description>

  <author href="http://venerons.github.io" email="veneronslaboratories@gmail.com">Daniele Veneroni</author>
  <icon src="icon.png" /> <!-- default 512 pixels -->
  <gap:splash src="splash.png" /> <!-- default 320x480 pixels -->
  <gap:platform name="ios" />
  <gap:plugin name="org.apache.cordova.statusbar"/>

</widget>

