@font-face {
  font-family: 'open_sansbold';
  src: url('font/opensans-bold-webfont.eot');
  src: url('font/opensans-bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('font/opensans-bold-webfont.woff') format('woff'),
  url('font/opensans-bold-webfont.ttf') format('truetype'),
  url('font/opensans-bold-webfont.svg#open_sansbold') format('svg');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'open_sanslight';
  src: url('font/opensans-light-webfont.eot');
  src: url('font/opensans-light-webfont.eot?#iefix') format('embedded-opentype'),
  url('font/opensans-light-webfont.woff') format('woff'),
  url('font/opensans-light-webfont.ttf') format('truetype'),
  url('font/opensans-light-webfont.svg#open_sanslight') format('svg');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'open_sansregular';
  src: url('font/opensans-regular-webfont.eot');
  src: url('font/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('font/opensans-regular-webfont.woff') format('woff'),
  url('font/opensans-regular-webfont.ttf') format('truetype'),
  url('font/opensans-regular-webfont.svg#open_sansregular') format('svg');
  font-weight: normal;
  font-style: normal;

}

* {
  -webkit-touch-callout: none; /* prevent callout to copy image, etc when tap to hold */
  -webkit-text-size-adjust: none; /* prevent webkit from resizing text to fit */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
  -webkit-user-select: none; /* prevent copy paste, to allow, change 'none' to 'text' */
}

.ui-overlay-a, .ui-page-theme-a, .ui-page-theme-a .ui-panel-wrapper{

}

#index{
  text-align: center;
  background: url('images/bg.png') transparent;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
}



/* SUBPAGES */

.sub-page{
  text-align: center;
  background: url('images/sub-bg.png') transparent;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
}

.sub-page-content{
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  max-height: 43%;
  overflow: auto;
}

.sub-page-header-style{
  font-size: 20px;
  font-family: 'open_sansbold';
  color: #7a7a7a;
  margin-bottom: .7em;
}

.sub-page-subheader-style{
  font-size: 16px;
  font-family: 'open_sansregular';
  color: #7a7a7a;
  margin-bottom: .7em;
}

.sub-page-subheader-style span{
  font-family: 'open_sansbold';
  color: #7a7a7a;
  margin-right: .5em;

}

img.sub-icon {
  position: absolute;
  top: 5%;
  left: 50%;
  margin-left: -35px;
  width: 70px;
}

.sub-page footer{
  color: #7a7a7a;
}

/* Agenda */

#agenda label{
  background: #f5f5f5;
  padding: .5em 0;
  margin: 0;
  position: absolute;
  top: 46%;
  width: 100%;
  z-index: 10;
}

.agenda-item{
  text-align: left;
  padding: 1em;
  border-bottom: 1px solid #f4f4f4;
}

.agenda-item a{
  text-decoration: none;
}

.agenda-item .time{
  font-family: 'open_sansbold';
  color: #0090d1;
  font-size: 14px;
}

.agenda-item .title{
  font-family: 'open_sansbold';
  color: #7a7a7a;
  font-size: 12px;
}

.agenda-item .speaker{
  font-family: 'open_sansregular';
  color: #7a7a7a;
  font-size: 10px;
}

nav{
  position: absolute;
  top: 25%;
  width: 90%;
  left: 5%;
}

nav a{
  display: block;
  width: 66px;
  color: #d7d7d7 !important;
  text-shadow: none;
  text-decoration: none;
  font-family: 'open_sansregular';
  font-size: 11px;
}

nav a:last-child{
  right: 0;
  position: absolute;
  top: 0;
}

nav img{
  width: 33px;
}






h1{
  font-family: 'open_sansbold';
}

h2{
  text-align: center;
  font-family: 'open_sansregular';
}

section{
  position: absolute;
  top: 73%;
  width: 100%;
  text-align: center;
}

section a{
  margin: 0 .8em;
  width: 70px;
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff !important;
  text-shadow: none;
  font-family: 'open_sansbold';
}

section img{
  width: 60px;
}

#logo{
  width: 153px;
  position: absolute;
  top: 15%;
  left: 50%;
  margin-left: -75px;
}

header {
  position: absolute;
  width: 250px;
  text-align: center;
  left: 50%;
  margin-left: -125px;
  color: #fff;
  text-shadow: 0px 2px 4px rgba(0,0,0,.29);
  top: 6%;
  text-transform: uppercase;
}

#header-date{
  font-family: 'open_sansbold';
  font-size: 11px;
}

#header-location{
  font-family: 'open_sansregular';
  font-size: 11px;
}

footer{
  font-family: 'open_sansregular';
  font-size: 11px;
  position: absolute;
  width: 250px;
  text-align: center;
  left: 50%;
  margin-left: -125px;
  color: #fff;
  text-shadow: 0px 2px 4px rgba(0,0,0,.29);
  top: 95%;
  text-transform: uppercase;
}

footer span{
  font-family: 'open_sansbold';
}





































