* {
  -webkit-touch-callout: none; /* prevent callout to copy image, etc when tap to hold */
  -webkit-text-size-adjust: none; /* prevent webkit from resizing text to fit */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
  -webkit-user-select: none; /* prevent copy paste, to allow, change 'none' to 'text' */
}

body{
  text-align: center;
}

h2{
text-align: center;
}

section{
  position: absolute;
  top: 80%;
  width: 100%;
  text-align: center;
}

section a{
  margin: 0 1em;
  border: 1px solid;
  padding: 1em;
  display: inline-block;
  border-radius: 10px;
}